$color-primary-light: #F0ECE3
$color-primary-dark: #1F2432
$color-tertiary: #7469B6
$color-accent: #6DDDC6
// 23967F
$color-warning: #e29a00
$color-caution: #c93c37
$color-note: #316dca
$color-important: #6f76f9
$color-tip: #347d39

$xxl: 1536px
$xl: 1280px
$lg: 1024px
$md: 768px
$sm: 640px

$font-h2: 1.7rem
$font-h3: 1.5rem
$font-para: 1.2rem
